<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CryptoWallet</title>

    <!-- Add Bootstrap, Bootstrap-Vue CSS, Vue,
    Babel, and Bootstrap-Vue JS to the <head> section -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- Add this after vue.js -->
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <!-- axios for consuming rest-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 54px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }

    </style>

</head>

<body>
<div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Welcome to <strong>CryptoWallet</strong>, {{ username }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <br>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Cryptocurrency</th>
            <th>Amount</th>
            <th>Date of purchase</th>
            <th>Wallet location</th>
            <th>Current market value (EUR)</th>
            <th>Option</th>
        </tr>
        </thead>

        <!--{{crypto_form_data}} -->
        <form class="form-inline">
            <tr>
                <td>
                    <div class="form-group">
                        <select v-model="crypto_form_data.cryptoCurrencyId" class="form-control" id="crypto_currency">
                            <option v-for="crypto in cryptos" v-bind:value="crypto.cryptoCurrencyId">{{ crypto.name }}
                            </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input v-model="crypto_form_data.amount" type="number" class="form-control" id="amount"
                               placeholder="enter amount">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input v-model="crypto_form_data.dateOfPurchase" type="date" class="form-control"
                               id="date_of_purchase">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input v-model="crypto_form_data.walletLocation" type="text" class="form-control"
                               id="wallet_location" placeholder="where are the coins boii">
                    </div>
                </td>
                <td></td>
                <td>
                    <button @click="promptAdd(crypto_form_data)" type="button" class="btn btn-success">Add</button>
                </td>
            </tr>
        </form>
        <!-------------------------->
        <tbody id="cryptos">
        <tr v-for="crypto in user_cryptos">
            <td>{{ getCryptoNameFromId(crypto.cryptoCurrencyId) }}</td>
            <td>{{ crypto.amount }}</td>
            <td>{{ formatDate(crypto.dateOfPurchase) }}</td>
            <td>{{ crypto.walletLocation }}</td>
            <td>{{ crypto.currentMarketValue }}</td>
            <td>
                <button @click="promptDelete(crypto)" type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <p>

    </p>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="src/main.js"></script>
</body>

</html>
